@inherits LayoutComponentBase

<div class="main-layout">
    <nav>
        <a href="/">Home</a> |
        <a href="/hello">Hello</a>
        <a href="/SetParametersAsync">SetParametersAsync</a>
        <a href="/OnInitialized">OnInitialized</a>
        <a href="/OnInitializedAsync">OnInitializedAsync</a>
    </nav>
    <hr />
    @Body
    <hr />
</div>
